RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
ReWriteRule ^bedridden-care /blog/bedridden.php
ReWriteRule ^home-nursing /blog/home_nursing.php
ReWriteRule ^elder-care /blog/elder_care.php
ReWriteRule ^patient-care /blog/patient_care.php
ReWriteRule ^tracheostomy /blog/tracheostomy.php
ReWriteRule ^index.html /